/* write your css here */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@100;200;300;400;500;600&family=Oswald:wght@300&family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"); */
::root {
  --animationDistance: -100px;
  --animationDuration: 12s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: #2d5eff;
  border-radius: 20px;
  border: 3px solid #2d5eff;
}



.nav-link {
    display: inline-block;
   
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2.3px;
    background: #2d5eff;
    transition: width .3s;
    margin-top: 0.6rem;
}

.nav-link:hover::after {
    width: 100%;
 
}


.nav-link {
  display: inline-block;
 
  text-decoration: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2.3px;
  background: white;
  transition: width .3s;
  margin-top: 0.6rem;
}

.nav-link:hover::after {
  width: 100%;

}

.nav-link {
  display: inline-block;
 
  text-decoration: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2.3px;
  background: #2d5eff;
  transition: width .3s;
  margin-top: 0.6rem;
}

.nav-link:hover::after {
  width: 100%;

}


.nav-link-footer {
display: inline-block;

text-decoration: none;
}

.nav-link-footer::after {
content: '';
display: block;
width: 0;
height: 2.3px;
background: white;
transition: width .3s;
margin-top: 0.6rem;
}

.nav-link-footer:hover::after {
width: 100%;

}

.icon-cube{
    animation-name: cubeRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes cubeRotate {
    0%{
        transform: rotateY(deg) translateY(0px);
    }
    25%{
        transform:  rotateY(45deg) translateY(0px);
    }
    50%{
        transform:  rotateY(0deg) translateY(0px);
    }
    75%{
        transform:  rotateY(-45deg) translateY(0px);
    }
    100%{
        transform:  rotateY(0deg) translateY(0px);
    }
    
  }


  .icon-dots{
    animation-name:dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  @keyframes dotsAnimation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
  }

  .card-shadow {
    background: radial-gradient(50% 50%, hsl(0, 0%, 82%) 0%, #fff 100%);
    border-radius: 50%;
    height: 50px;
    width: 200px;
  }

.glass-effect{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    /* border: 0.2px solid rgba(255, 255, 255, 0.61); */
}

.glass-effect2{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-effect3{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
}

.glass-effect4{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
}

/* .btn-blue {
    /* box-shadow: 5px 5px 7px 0px #0000003f; */
    /* background-color: #2d5eff;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    z-index: 10;
  }
  .btn-blue::before {
    content: "";
    position: absolute;
    background-color: white;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0.5rem;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-blue:hover::before {
    transform: scaleX(1);
  }
  .btn-blue:hover {
    color: #2d5eff;
    z-index: 20;
  } */ 

.box-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.box-shadow2{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.box-shadow3{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 4px 4px -1px, rgba(0, 0, 0, 0.3) 0px 5px 5px -1px;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  &:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
  }
}

.inner {
  animation-duration: var(--animationDuration);
  animation-timing-function: linear;
}

.inner.moving {
  animation-name: moveticker;
}

.element {
  height: 100%;
  font-size: 1.6rem;
  display: inline-block;
  padding: 0 20px;
  font-family: 'Quicksand';
}

@keyframes moveticker {
  0% {
    transform: translateX(0px);
  }
  
  100% {
    transform: translateX(var(--animationDistance));
  }
}

.glass-effect{

/* From https://css.glass */
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(2.8px);
}


.nav-link-translate{
  transition: all 0.4s;
}

.nav-link-translate:hover {
  transform: translateX(10px);
  
}

